<p id="notice"><%= notice %></p>

<h2>
  <%= @blogpost.title %>
</h2>

<div class="boxed">
  <%= @blogpost.contents %>
</div>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
